body{
    background-color: #8b8b8b;

}

.fixed-top {
    position: relative;
    width:100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.titreC{

}

.imageC{
    float: left;
}

.titre1
{
    text-align: center;
}

.affichageConcert{
    border: solid;

}






footer{
background-color:#343a40!important;

position:fixed;

left: 0;

bottom:0;

width:100%;

padding-top: 0px;

height:50px;

border-top: solid;

}


 