html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-color: #8b8b8b;
    display: flex;
    flex-direction: column;

}

.fixed-top {
    position: relative;
    width:100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.SlideNews
{
    margin-top: 2%;
    width: 100%;

}
.imageNews{
    width: 85%;
}

.SlideConcert
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right:10%;
    border-color: #D5B948;
}
.imageConcert{
    width: 80%;
    border-radius: 50px;
    border: solid;
    border-color: #D5B948;
}
.barreImageConcert{
    border: solid;
    height: 2px;
    background-color: #D5B948;
    width: 50%;
    margin-top: 2%;
    margin-left: 15%;
    border-color: #D5B948;
}



.titreC{

}

.titreConcert
{
    margin-top: 2%;
    text-align: center;
}

.affichageConcert{
    border: solid;

}
.column {
    padding: 25px;
    columns: 3;

    background: #8b8b8b;
    width:100%;
    display: table-column;
}

#gridC{
    text-align: center;
    font-size: 25px;

    word-wrap: break-word;

}

.imageC img{

    display: block;
    min-height: 400px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width:50%
}
.imgcard img{
    min-height: 250px;
    max-height: 250px;
    width:100%;
}








/*footer{
    background-color:#343a40!important;
    margin-top: auto;
    height:50px;
    border-top: solid;
    padding-top: 50px;

}*/


 